@using Microsoft.AspNetCore.Identity
@model ProfileModel

@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container body-content">
        <div class="row sectionHeader">
            <div class="sectionHeading noBorder">
                User Profile
            </div>
        </div>

            <div class="row userProfile">
                <div class="col-md-4">
                    @if (Model.ProfileImageUrl == null)
                    {
                        <img src="~/images/blankpicture.png" id="userProfileImage" style="background-size: 100%;">
                    }
                    else
                    {

                        <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl); background-size:100%;"></div>
                    }

                    @if (Context.User.Identity.Name == Model.UserName)
                    {
                        <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                            <div id="upload">
                                <label class="btn btn-default btn-file">
                                    Browse <input type="file" name="file" style="display: none;">
                                </label>
                            </div>
                            <button type="submit" id="btn-profile" class="btn btn-default">Submit</button>
                        </form>
                    }
                </div>
                <div class="col-md-8">
                    <span id="userName">@Model.UserName</span>

                    <span id="userRating">Current Rating: @Model.UserRating</span>
                    <span id="userCreatedLabel">Member Since: @Model.MemberSince</span>
                    <span id="userActiveLabel">
                    </span>
                    @if (signInManager.IsSignedIn(User) && User.Identity.Name != Model.UserName){
                        <span id="follow" class="material-icons" style="cursor: pointer">person_add_alt</span><span id="getFollowers">@Model.Followers</span>
                        <input id="followers" type="hidden" asp-for="@Model.UserId"/>
                    }

                </div>
            </div>
        
    </div>

    <script>

        $(document).ready(function () {
            $("#follow").on('click', function () {
                $.ajax({
                    //base address/controller/Action
                    url: '@Url.Action("UpdateFollows", "Profile")',
                    type: 'POST',
                    data: {
                        //Passing Input parameter
                        id: $("#followers").val()
                    },
                    success: function (result) {

                        if (document.getElementById("follow").innerHTML == "person_add_alt") {
                            $("#getFollowers").html(result);
                            $("#follow").html("person_remove");
                        }
                        else if (document.getElementById("follow").innerHTML == "person_remove") {
                            $("#getFollowers").html(result);
                            $("#follow").html("person_add_alt");
                        }
                        
                    },
                    error: function () {
                        alert("error");
                    }

                });
                return false;
            });
        });
    </script>
</body>
</html>