@model IEnumerable<ApplicationUser> 
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<body>
    <link href="~/css/images.css" rel="stylesheet" />

    @foreach (var user in Model)
    {
        if (signInManager.IsSignedIn(User) && user.UserName == User.Identity.Name)
        {
            if (user.ImagePath == null)
            {
                <img src="~/images/blankpicture.png" class="img-thumbnail pfp" />
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="@user.ImagePath">Change Profile Picture</label>
                        <input type="file" name="file" />
                        <span asp-validation-for="@user.ImagePath" class="text-danger"></span>
                    </div>
                </form>
                break;
            }
            <img src="~/images/@user.ImagePath" class="img-thumbnail pfp" />
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@user.ImagePath">Change Profile Picture</label>
                    <input type="file" name="file" />
                    <span asp-validation-for="@user.ImagePath" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update Profile Picture</button>
            </form>
        }

    }


    <h1>User</h1>
    @User.Identity.Name


</body>
</html>