@model Fan_Website.Models.Home.HomeIndexModel 
@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html> 
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    
    <div class="row frontPageContent">
        <div class="container body-content">
            <div style="text-align: center">

                <div class="row sectionHeading">
                    <div class="sectionHeader" style="background-color: coral">
                        <h3>Final Fantasy XVI Trailer</h3>
                    </div>
                    
                    <div style="background-color: black; padding: 30px">


                        <img src="~/images/clive.png" class="col-md-3" style="width: 25%; display: inline-block; height: auto; float: left;" />

                        <video autoplay controls="controls" class="col-md-6 videoTrailer" style="width: 40%; height: auto; text-align: center">
                            <source src="~/videos/Final%20Fantasy%20XVI%20-%20Awakening%20Trailer%20PS5.mp4" type="video/mp4" />
                        </video>
                        <img src="~/images/joshua.png" class="col-md-3" style="width: 18%; display: inline-block; height: auto; float: right; padding-right: 50px" />
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row frontPageContent">
        <div class="container body-content">


            <div class="row sectionHeading">
                <div class="sectionHeader">
                    <h3 id="latestPosts">Latest Posts</h3>
                    <form asp-controller="Forum" asp-action="Search" method="post">
                        <div class="searchForm">
                            <input asp-for="SearchQuery" type="text" placeholder="Search..." class="searchBar" onfocus="clearThis(this)" />
                            <button type="submit" class="btn buttonSearch">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>
                </div>
                <table class="table table-hover" id="latestPostsTable">
                    <tbody>

                        @foreach (var post in Model.LatestPosts)
                        {
                            <tr>
                                <td>
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                            @post.Title
                                        </a>
                                    </div>
                                    <div class="postSubTitle">
                                        @if (post.RepliesCount == 1)
                                        {
                                            <span>@post.RepliesCount Reply</span>
                                        }
                                        @if (post.RepliesCount == 0)
                                        {
                                            <span>No Replies</span>
                                        }
                                        @if (post.RepliesCount > 1)
                                        {
                                            <span>@post.RepliesCount Replies</span>
                                        }
                                        <span class="postUser"><a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">@post.AuthorName </a></span><span class="badge rounded-circle" style="background-color: skyblue"> @post.AuthorRating </span> in <span class="postForum"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.ForumId"></a> @post.Forum.Name</span> on <span class="postDate">@post.DatePosted</span>
                                    </div>
                                </td>
                                <td>
                                    <div style="float: right; display: inline-block">
                                        <div class="material-icons"><span class="inline-icon" style="font-size: 16px">@post.TotalLikes </span>favorite</div>
                                    </div>
                                   
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <br />




</body> 
</html>