@model List<Post>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewBag.Title = "Posts";

}

<!DOCTYPE html>
<html>
<body>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-controller="Post" asp-action="Create">Create new forum</a><br />
    }
    @foreach (var post in Model)
    {
        foreach (var forum in ViewBag.Forums)
        {
            if (post.ForumId == forum.ForumId)
            {
                <h1>@post.Title</h1><a>@post.UserName - @post.CreatedOn</a><br />
                <a>@post.Content</a>
            }

        }

        @if (signInManager.IsSignedIn(User) && post.UserName == User.Identity.Name)
        {
            <a style="text-align: right" asp-controller="Post" asp-action="Delete"
               asp-route-id="@post.PostId"
               asp-route-slug="@post.Slug">Delete</a>
        }

    }
</body>
</html>