@model IEnumerable<Fan_Website.Models.PostListingModel>
@inject SignInManager<ApplicationUser> signInManager
@{ 

    var userPosts = Model.Where(post => post.AuthorName == User.Identity.Name).FirstOrDefault(); 
        }
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/images.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        <div class="row sectionHeader">
            <div class="sectionHeading">
                User Posts
            </div>
            <div class="sectionDescription">
                @if (!signInManager.IsSignedIn(User))
                {
                    <span>
                        You must be a
                        <a asp-controller="Account" asp-action="Register">
                            registered member
                        </a>
                        to create a new post.
                    </span>
                }
            </div>
        </div>
        <div class="row forumIndexContent">




            @if (Model.Any())
            {   
                <table class="table table-hover table-bordered" id="forumIndexTable" style="background-color: white">
                    <tbody>
                        @foreach (var post in Model)
                        {

                            <tr>
                                <td>
                                    <div class="postData">
                                        <div class="postTitle">
                                            <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                        </div>
                                        <div class="forumSubTitle">
                                            <div>
                                                <span class="postAuthor">
                                                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">@post.AuthorName</a>
                                                </span>
                                                <span class="badge rounded-circle" style="background-color: skyblue"> @post.AuthorRating </span> on
                                                <span class="postData">
                                                    @post.DatePosted
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forumPostContent">
                                        Replies: @post.RepliesCount
                                    </div>
                                </td>
                                <td>
                                    <div class="postData">@post.DatePosted</div>
                                    <a class="delete" asp-controller="Post" asp-action="Delete"
                                       asp-route-id="@post.Id">Delete</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }

            else
            {
                <div class="noPosts">
                    <i class="material-icons md-72">question_answer</i>
                    <h3>
                        It looks like there are no posts to be found.
                        @if (signInManager.IsSignedIn(User))
                        {
                        <partial>
                            Why not
                            create one in 
                            <a asp-controller="Forum" asp-action="Index">
                                forums
                            </a>
                        </partial>
                        }

                    </h3>
                </div>

            }






        </div>
    </div>

</body>
</html>