@model List<Post>
@inject SignInManager<ApplicationUser> signInManager
    @{
        ViewBag.Title = "Your Posts";

    }

    <!DOCTYPE html>
    <html>
    <body>

        @foreach (var post in Model)
        {
            if (signInManager.IsSignedIn(User) && post.UserName == User.Identity.Name)
            {
                <h1>@post.Title</h1><a>@post.UserName - @TimeZoneInfo.ConvertTime(post.CreatedOn, TimeZoneInfo.Local)</a><br />
                <a>@post.Content</a>
                <div class="d-flex">
                    <a style="text-align: right" asp-controller="Post" asp-action="Delete"
                       asp-route-id="@post.PostId"
                       asp-route-slug="@post.Slug">Delete</a>
                </div>
            }
        }
    </body>
    </html>