@model List<Forum>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewBag.Title = "Posts";
}

<!DOCTYPE html>
<html>
<body>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-controller="Forum" asp-action="Create">Create new forum</a><br />
    }
    @foreach (var forum in Model)
    {
        <a asp-controller="Post" asp-action="Index">@forum.PostTitle </a><a>- @forum.CreatedOn</a><br />
        <a>@forum.Description</a><br />
        @if (signInManager.IsSignedIn(User) && forum.UserName.Equals(User.Identity.Name))
        {
            <a style="text-align: right" asp-controller="Forum" asp-action="Delete"
               asp-route-id="@forum.ForumId"
               asp-route-slug="@forum.Slug">Delete</a>
        }

    }
</body>
</html>