@model List<Forum>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewBag.Title = "Posts";
}

<!DOCTYPE html>
<html>
<body>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-controller="Forum" asp-action="Create">Create new forum</a><br />
    }
<table class="table table-bordered">
    <tbody>
        @foreach (var forum in Model)
        {
        <tr>
            <td><a asp-controller="Post" asp-action="Index">@forum.PostTitle </a></td>
            <td>
                @forum.Description 
            </td>
            <td>
                @forum.CreatedOn @if (signInManager.IsSignedIn(User) && forum.UserName.Equals(User.Identity.Name))
                        {
                                   <a asp-controller="Forum" asp-action="Delete"
                                       asp-route-id="@forum.ForumId"
                                       asp-route-slug="@forum.Slug">
                                        Delete
                                    </a>

                        }
            </td>
        </tr>
        }
    </tbody>
</table>
    <div class="d-flex">
        <div class="p-2 flex-grow-1"></div>
        <div class="p-2">
            <a class="btn btn-primary" asp-controller="Post" asp-action="Create">Add Post</a>
        </div>
    </div>


</body>
</html>